<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">
          Please enter a short description
        </div>
      </div>
      <div class="mb-3">
        Original Image<br>
        <img src="<%= originalImageUrl %>"/>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image Link</label>
        <input name="listing[image]"  type="file" class="form-control">
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a valid price
          </div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country Name</label>
          <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a valid country name
          </div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please enter a valid location
        </div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Edit</button>
      <br><br>
    </form>
  </div>
</div>

